/* minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: rgb(235, 88, 47);
  background: white;
  color: black;

  font-family: NeueHaasGroteskText, sans-serif;
}

/* font face declarations */
@font-face {
  font-family: "NeueHaasGroteskText";
  src: url("/static/fonts/NHaasGroteskTXPro-55Rg.woff2") format("woff2"),
      url("/static/fonts/NHaasGroteskTXPro-55Rg.woff") format("woff"),
      url("/static/fonts/NHaasGroteskTXPro-55Rg.svg#NHaasGroteskTXPro-55Rg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGroteskText Bold";
  src: url("/static/fonts/NHaasGroteskTXPro-75Bd.woff2") format("woff2"),
      url("/static/fonts/NHaasGroteskTXPro-75Bd.woff") format("woff"),
      url("/static/fonts/NHaasGroteskTXPro-75Bd.svg#NHaasGroteskTXPro-75Bd") format("svg");
  font-weight: bold;
  font-style: normal;
}